In [3]:
print("Welcome to Python")

Welcome to Python

In [5]:
x=2
y=3

In [6]:
z=x+y
print (z)

5

In [7]:
print(z+3)

8

In [8]:
print("z+3")

z+3

In [10]:
name1='ahmed'
print(name1)

ahmed

In [11]:
1name='alauddin'
print(1name)

SyntaxError: invalid decimal literal (1072458956.py, line 1)

In [12]:
num=7
print(num)

7

In [13]:
print(num+3)

10

In [14]:
type(num)

int

In [15]:
type(name1)

str

In [16]:
print(name1.UPPER())

AttributeError: 'str' object has no attribute 'UPPER'

In [17]:
print(name1.upper())

AHMED

In [18]:
print(name1)

ahmed

In [19]:
print(name1.Lower())

AttributeError: 'str' object has no attribute 'Lower'

In [20]:
print(name1.lower())

ahmed

In [1]:
firstname="alauddin"
lastname='ahmed'

In [6]:
message=f"lets start python, {firstname}___{lastname}"
print (message)

lets start python, alauddin___ahmed

In [3]:
print("hi")

hi

In [10]:
print(f"\tadding line, \n {firstname} \t {lastname}")

	adding line,
 alauddin 	 ahmed

In [20]:
lang1="  fisrt"
lang2="right    "
m1=lang1.lstrip()
m2=lang2.rstrip()
print(f"remove space,{m1} {m2}")

remove space,fisrt right

In [12]:
students=["abc","def","ghi"]

In [14]:
print(students)

['abc', 'def', 'ghi']

In [4]:
type(students)

list

In [9]:
print(students[2].title)

<built-in method title of str object at 0x000002878CCC7A70>

In [13]:
print(students[1].upper())

DEF

In [15]:
students.append("jkl")

In [19]:
print(students[2].upper())

GHI

In [20]:
students[2]="zzz"

In [21]:
print(students)

['abc', 'def', 'zzz', 'jkl']

In [22]:
del students[2]

In [23]:
print(students)

['abc', 'def', 'jkl']

In [25]:
print(f" how are u, {students}")

 how are u, ['abc', 'def', 'jkl']

In [26]:
x=students.pop()

In [27]:
print(students)

['abc', 'def']

In [28]:
students.append("ghi")

In [29]:
print(students)

['abc', 'def', 'ghi']

In [30]:
print(x)

jkl